<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.js"></script>

<style>
.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }
</style>
<script>PDFObject.embed("E:/temp/Vasavi_AWS_SAA_C01_Certificate.pdf", "#example1");</script> -->
<body>

<h1>Uploaded file </h1>

<div th:if="${message}">
    <h2 th:text="${message}"/>
    <h2 th:text="${data}"/>   
</div>
<!-- <div>

<iframe th:src="@{E:/temp/Vasavi_AWS_SAA_C01_Certificate.pdf}" width='1366px' height='623px' >This is an embedded 
<a target="_blank" th:href="@{http://office.com}">Microsoft Office</a> </iframe>
<p id="demo"></p>

<embed th:src="@{E:/temp/Vasavi_AWS_SAA_C01_Certificate.pdf}" width="500" height="375" type='application/pdf'>


</div> -->
<!-- <div id="example1">
<object data="E:/temp/Vasavi_AWS_SAA_C01_Certificate.pdf"></object>
</div> -->


</body>
</html>