<!DOCTYPE html>

<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Profile Parser</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="/renaissance/img/renfavicon.ico">
<!-- CSS here -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link href="./css/starter-template.css" rel="stylesheet"	media="screen" />
<link href="./css/datatables.min.css" rel="stylesheet" media="screen" />
<link href="./css/jquery-ui.css" rel="stylesheet" media="screen" />	
<link href="./css/dataTables.jqueryui.min.css" rel="stylesheet" media="screen" />	
<link href="./css/dataTables.bootstrap4.min.css" rel="stylesheet" media="screen" />
<link href="./css/jquery.dataTables.min.css" rel="stylesheet" media="screen" />	
<link href="./css/buttons.dataTables.min.css" rel="stylesheet" media="screen" />	
<link rel="stylesheet" href="./css/owl.carousel.min.css">
<link rel="stylesheet" href="./css/magnific-popup.css">
<link rel="stylesheet" href="./css/font-awesome.min.css">
<link rel="stylesheet" href="./css/themify-icons.css">
<link rel="stylesheet" href="./css/nice-select.css">
<link rel="stylesheet" href="./css/flaticon.css">
<link rel="stylesheet" href="./css/gijgo.css">
<link rel="stylesheet" href="./css/animate.css">
<link rel="stylesheet" href="./css/slicknav.css">
<link rel="stylesheet" href="./css/style.css">
<style>
.dropdown {
  display: block;
    width: 100%;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    background: #fcfcff;
    padding: 0 10px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 6px;
}
</style>
<style>
   tr.selected {background-color: #007bff;}
 </style>
</head>

<body onload="renderfile()">

<!-- header-start -->
    <header>
            <div class="header-area ">
            <div class="col-xl-3 col-lg-2">
          
			<div class="logo">
				<a href="https://reninfo.com.au/"> <img
					src="img/Renaissance_logo.png" alt="" height="30px" width="150px">

				</a>
				<a   href="#" onclick="backToIndex()">Back>></a>
				<a  style="text-align: right;padding-left: 1550px;" href="logout" onclick="cleardata()">Logout</a>
				<!-- <div class="row">
				<a   href="#" onclick="backToIndex()">Back>></a></div>
				<a  style="text-align: right;padding-left: 1250px;" href="logout" onclick="cleardata()">Logout</a> -->
				
				
			</div>
			
		</div>
             <!--    <div id="sticky-header" class="main-header-area">
                    <div class="container">
                        <div class="header_bottom_border">
                            <div class="row">
                                <div class="col-12">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a  class="col-xl-12" href="logout" onclick="cleardata()">Logout</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div> -->
            </div>
        </header>
        <!-- header-end -->
	<!-- bradcam_area  -->
	<div class="bradcam_area bradcam_bg_1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-12">
				
					<div class="bradcam_text">
					
						<h3>Candidate Profile Management</h3>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!--/ bradcam_area  -->
	<div class="mt-30 mb-30">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item"><a class="nav-link active"
				data-toggle="tab" href="#upload" style="font-weight:bold">Upload</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab"
				href="#search" style="font-weight:bold">Search</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div id="upload" class="tab-pane active">
				<br>
				<section class="contact-section">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">

								<form method="POST" action="./upload"
									enctype="multipart/form-data" id="singleUploadForm"
									onsubmit="checkFileSelected(event)" >
									<div class="form-group ">
										<label style="font-weight:bold">Upload Your resume </label> <input type="file"
											class="form-control" name="file" accept=".doc,.docx,.pdf,"
											id="selectFileId" oninput="copyFile()">
									</div>
																<div id="file_feedback" style="display: none"></div>
									
									<div th:if="${message}" th:text="${message}" class="alert alert-success" role="alert" id="divUploadSuccess" ></div>
									<div class="col-md-12">
										<input type="submit" value="Upload" id="singlefileupload_btn"
											class="button button-contactForm boxed-btn pull-right mb-4" />

									</div>
								</form>
							</div>
							<div class="col-lg-6" th:switch="${profile}">
								<h2 th:case="null"></h2>
								<div th:case="*">
									<div>
										<div class="pdf-container">
											<object th:src="${fileLocation}" id="objId" height="1126px" width="500px">
												<embed th:src="${fileLocation}"  id="embedId"/>
											</object>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-12 mx-auto">
										<div th:switch="${profile}">
											<h2 th:case="null"></h2>
											<div th:case="*">
												<div hidden="true">
													<input type="text" id="profileText" name="profileText"
														th:field="${profile.profileText}" /> <input type="text"
														id="candidateId" name="candidateId"
														th:field="${profile.candidateId}" /> <input type="text"
														id="visaType" name="visa" th:field="${profile.visaType}" /> <input
														type="text" id="summary" name="summary"
														th:field="${profile.summary}" /> <input type="text"
														id="title" name="title" th:field="${profile.title}" /> <input
														type="text" id="gender" name="gender"
														th:field="${profile.gender}" />  <input type="text"
														id="socialMediaLink" name="socialMediaLink"
														th:field="${profile.socialMediaLink}" /> <input
														type="text" id="nationality" name="nationality"
														th:field="${profile.nationality}" /> <input type="text"
														id="version" name="version" th:field="${profile.version}" />
													<input type="text" id="filePath" name="filePath"
														th:field="${profile.filePath}" /> <input type="text"
														id="assignedToEmployeeId" name="assignedToEmployeeId"
														th:field="${profile.assignedToEmployeeId}" /> 
														  <input type="text"
														id="lastUpdatedByUser" name="lastUpdatedByUser"
														th:field="${profile.lastUpdatedByUser}" />
														 <input type="text"
														id="candidateName" name="lastUpdatedByUser"
														th:field="${profile.candidateName}" />
												</div>
												<!-- Accordion -->
												<div id="accordionExample" class="accordion shadow">

													<!-- Accordion item 1 -->
													<div class="card">
														<div id="headingOne"
															class="card-header bg-white shadow-sm border-0">
															<div class="edit-form">
																<li><h6 class="mb-0 font-weight-bold">
																		<a href="#" data-toggle="collapse"
																			data-target="#collapseOne" aria-expanded="true"
																			aria-controls="collapseOne"
																			class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Candidate
																			Personal Details</a>
																	</h6></li>
																<li class="pull-right"><a href="#"
																	data-toggle="collapse" data-target="#collapseOne"
																	aria-expanded="true" aria-controls="collapseOne"
																	class="d-block position-relative text-dark text-uppercase collapsible-link py-2"><i
																		class="fa fa-caret-down"></i> </a></li>
															</div>
														</div>
														<div id="collapseOne" aria-labelledby="headingOne"
															data-parent="#accordionExample" class="collapse show">
															<div class="card-body">
																<div class="col-lg-12">
																	<form class="form-contact contact_form" method="post"
																		id="candidateDetails" novalidate="novalidate" >
																		<div class="row">

																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">First Name *</label> <input
																						type="text" placeholder="First Name"
																						onfocus="this.placeholder = ''"
																						onblur="this.placeholder = 'First Name'" required
																						class="single-input" id="firstName"
																						name="candidateName"
																						th:field="${profile.firstName}">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Middle Name</label> <input
																						type="text" name="middle_name"
																						placeholder="Middle Name"
																						onfocus="this.placeholder = ''"
																						onblur="this.placeholder = 'Middle Name'"
																						class="single-input"
																						th:field="${profile.middleName}" id="middleName">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Last Name *</label> <input
																						type="text" name="last_name"
																						placeholder="Last Name"
																						onfocus="this.placeholder = ''"
																						onblur="this.placeholder = 'Last Name'" required
																						class="single-input" th:field="${profile.lastName}" id="lastName">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Primary Email Address *</label> <input
																						type="email" placeholder="Primary Email address"
																						onfocus="this.placeholder = ''"
																						onblur="this.placeholder = 'Primary Email address'"
																						required class="single-input" id="primaryEmail"
																						name="primaryEmail"
																						th:field="${profile.primaryEmail}" >
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group" >
																					<label for="name"style="font-weight:bold" >Secondary Email Address</label> <input
																						type="email" placeholder="Secondary Email address"
																						onfocus="this.placeholder = ''"
																						onblur="this.placeholder = 'Secondary Email address'"
																						class="single-input" id="secondaryEmail"
																						name="secondaryEmail"
																						th:field="${profile.secondaryEmail}">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Primary Contact Number *</label> <input
																						type="text" placeholder="Primary Contact Number"
																						onfocus="this.placeholder = ''"
																						onblur="this.placeholder = 'Primary Contact number'"
																						class="single-input" id="primaryPhone"
																						name="primaryPhone"
																						th:field="${profile.primaryPhone}" required="required">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="secondaryPhone" style="font-weight:bold">Secondary Contact Number</label>
																					<input type="text"
																						placeholder="Secondary Contact number"
																						onfocus="this.placeholder = ''"
																						onblur="this.placeholder = 'Secondary Contact number'"
																						class="single-input" id="secondaryPhone"
																						name="secondaryPhone"
																						th:field="${profile.secondaryPhone}">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Gender</label>
																					<div class="row">
																						<div class="col-sm-6">
																							<!-- Default checked -->
																							<div class="custom-control custom-radio">
																								<input type="radio" class="custom-control-input"
																									id="defaultChecked" name="gender" value="male" >
																								<label class="custom-control-label"
																									for="defaultChecked" style="font-weight:bold">Male</label>
																							</div>
																						</div>
																						<div class="col-sm-6">
																							<!-- Default unchecked -->
																							<div class="custom-control custom-radio">
																								<input type="radio" class="custom-control-input"
																									id="defaultUnchecked"
																									name="gender" value="female" > <label
																									class="custom-control-label"
																									for="defaultUnchecked" style="font-weight:bold">Female</label>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Date of Birth</label> <input
																						data-date-format="dd/MM/yyyy" 
																						 placeholder="Date of Birth"
																						onfocus="this.placeholder = 'Date of Birth'"
																						onblur="this.placeholder = 'Date of Birth'"
																						class="single-input" id="dateOfBirth" name="dateOfBirth"
																						th:field="${profile.dateOfBirth}"  autocomplete="off">

																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Current Location</label> <input
																						type="text" placeholder="Current Location"
																						onfocus="this.placeholder = ''"
																						onblur="this.placeholder = 'Current Location'"
																						class="single-input" id="currentLocation"
																						name="currentLocation"
																						th:field="${profile.currentLocation}">																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Employed By</label> 
																					
																					<div class="input-group-icon">
																						
																						<div class="form-select" id="default-select" >
																							<select id="employedByRen"  
																							th:field="*{profile.employedByRen}"  >
																								<option value="No"  selected="selected">No</option>
																								<option value="Yes">Yes</option>
																								
																							</select>
																						</div>
																					</div>
																					
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Availability</label> <input
																						type="text" placeholder="Availability"
																						onfocus="this.placeholder = 'Availability'"
																						onblur="this.placeholder = 'Availability'"
																						class="single-input" id="availability"
																						name="availability"
																						th:field="${profile.availability}">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Visa Category</label>
																					<div class="input-group-icon">
																						
																						<div class="form-select" id="default-select" >
																							<select id="visatype" onchange="setSelectedVisaType()" 
																							th:field="*{profile.visaType}"  >
																								<option value="none"  selected="selected">Select Visa</option>
																								<option value="PR">PR</option>
																								<option value="Citizen">Citizen</option>
																								<option value="Dependent Visa">Dependent Visa</option>
																								<option value="Temporary graduate visa">Temporary graduate visa</option>
																								<option value="Work Visa">Work Visa</option>
																							</select>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-sm-6" >
																				<div class="form-group">
																			<label for="name" id="visano_lbl" style="display: none; font-weight:bold">Visa Type</label> <input
																						type="text" placeholder="Visa Type"
																						onfocus="this.placeholder = ''"
																						onblur="this.placeholder = 'Visa Type'"
																						class="single-input" id="visaNo"
																						name="visano" th:field="${profile.visaNo}" style="display: none">
																					</div>
																				</div>
																				<div class="col-sm-6" id="valid_div" style="display: none">
																				<div class="form-group">
																						<label for="Valid upto" id="validupto_lbl" style="font-weight:bold" >Valid upto</label>
																						<input 
																						data-date-format="dd/MM/yyyy" 
																						 placeholder="Valid upto"
																						onfocus="this.placeholder = 'Valid upto'"
																						onblur="this.placeholder = 'Valid upto'"
																						class="single-input" id="validUpto" 
																						name="validUpto" th:field="${profile.validUpto}" style="display: none"
																						 autocomplete="off">
																						
																					</div>
																				</div>
																		</div>
																	<div id="personal_feedback"></div>
																		
																	</form>
																</div>
															</div>
														</div>
													</div>

													<!-- Accordion item 2 -->
													<div class="card">
														<div id="headingTwo"
															class="card-header bg-white shadow-sm border-0">
															<div class="edit-form">
																<li><h6 class="mb-0 font-weight-bold">
																		<a href="#" data-toggle="collapse"
																			data-target="#collapseTwo" aria-expanded="false"
																			aria-controls="collapseTwo"
																			class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Candidate
																			Profile</a>
																	</h6></li>
																<li class="pull-right"><a href="#"
																	data-toggle="collapse" data-target="#collapseTwo"
																	aria-expanded="false" aria-controls="collapseTwo"
																	class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"><i
																		class="fa fa-caret-down"></i> </a></li>
															</div>
														</div>
														<div id="collapseTwo" aria-labelledby="headingTwo"
															data-parent="#accordionExample" class="collapse">
															<div class="card-body">
																<div class="col-lg-12">
																	<form class="form-contact contact_form" action=""
																		method="post" id="contactForm" novalidate="novalidate">
																		<div class="row">
																		
																			<div class="col-12">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Skills</label>
																					<textarea class="form-control w-100" cols="30"
																						rows="3" onfocus="this.placeholder = 'Skill Set'"
																						onblur="this.placeholder = 'Skill Set'"
																						placeholder="Skill Set" id="skills" name="skills"
																						th:field="${profile.skills}"></textarea>
																				</div>
																			</div>
																			<div class="col-12">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Certification</label>
																					<textarea class="form-control w-100" cols="30"
																						rows="3"
																						onfocus="this.placeholder = 'Certifications'"
																						onblur="this.placeholder = 'Certifications'"
																						placeholder="Certifications" id="certification"
																						name="certification"
																						th:field="${profile.certification}"></textarea>
																				</div>
																			</div>
																			<div class="col-12">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Awards</label>
																					<textarea class="form-control w-100" cols="30"
																						rows="3" onfocus="this.placeholder = 'Awards'"
																						onblur="this.placeholder = 'Awards'"
																						placeholder="Awards" id="awards" name="awards"
																						th:field="${profile.awards}"></textarea>
																				</div>
																			</div>

																			
																			<!-- <div class="col-sm-4">
																				<div class="form-group">
																					<label for="name">Work Experience</label> <input
																						type="text" placeholder="Work Exp"
																						onfocus="this.placeholder = 'Work Exp'"
																						onblur="this.placeholder = 'Work Exp'"
																						class="single-input" id="workExperience"
																						name="workExperience"
																						th:field="${profile.workExperience}">
																				</div>
																			</div> -->
																			<div class="col-12">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">References</label>
																					<textarea class="form-control w-100" cols="30"
																						rows="3" onfocus="this.placeholder = 'References'"
																						onblur="this.placeholder = 'References'"
																						placeholder="References" id="reference" name="References"
																						th:field="${profile.reference}"></textarea>
																				</div>
																			</div>
																			
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>

													<!-- Accordion item 3 -->
													<div class="card">
														<div id="headingThree"
															class="card-header bg-white shadow-sm border-0">
															<div class="edit-form">
																<li><h6 class="mb-0 font-weight-bold">
																		<a href="#" data-toggle="collapse"
																			data-target="#collapseThree" aria-expanded="false"
																			aria-controls="collapseThree"
																			class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Candidate
																			Education</a>
																	</h6></li>
																<li class="pull-right"><a href="#"
																	data-toggle="collapse" data-target="#collapseThree"
																	aria-expanded="false" aria-controls="collapseThree"
																	class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"><i
																		class="fa fa-caret-down"></i> </a></li>
															</div>
														</div>
														<div id="collapseThree" aria-labelledby="headingThree"
															data-parent="#accordionExample" class="collapse">
															<div class="card-body">
																<div class="col-lg-12">
																	<form class="form-contact contact_form"
																		action="contact_process.php" method="post"
																		id="contactForm" novalidate="novalidate">
																		<div class="row">
																			<div class="col-12">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Education</label>
																					<textarea class="form-control w-100" cols="30"
																						rows="3" onfocus="this.placeholder = 'Education'"
																						onblur="this.placeholder = 'Education'"
																						placeholder="Education" id="education"
																						name="education" th:field="${profile.education}"></textarea>
																				</div>
																			</div>
																			
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>

													<!-- Accordion item 4 -->
													<div class="card">
														<div id="headingFour"
															class="card-header bg-white shadow-sm border-0">
															<div class="edit-form">
																<li><h6 class="mb-0 font-weight-bold">
																		<a href="#" data-toggle="collapse"
																			data-target="#collapseFour" aria-expanded="false"
																			aria-controls="collapseFour"
																			class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Candidate
																			Work History</a>
																	</h6></li>
																<li class="pull-right"><a href="#"
																	data-toggle="collapse" data-target="#collapseFour"
																	aria-expanded="false" aria-controls="collapseFour"
																	class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"><i
																		class="fa fa-caret-down"></i> </a></li>
															</div>
														</div>
														<div id="collapseFour" aria-labelledby="headingFour"
															data-parent="#accordionExample" class="collapse">
															<div class="card-body">
																<div class="col-lg-12">
																	<form class="form-contact contact_form"
																		action="contact_process.php" method="post"
																		id="contactForm" novalidate="novalidate">
																		<div class="row">
																		<div class="col-12">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Work Experience</label>
																					<textarea class="form-control w-100" cols="30"
																						rows="3" onfocus="this.placeholder = 'Work Experience'"
																						onblur="this.placeholder = 'Work Experience'"
																						placeholder="Work Experience" id="workExperience" name="workExperience"
																						th:field="${profile.workExperience}"></textarea>
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Organization</label> <input
																						type="text" placeholder="Organization"
																						onfocus="this.placeholder = 'Organization'"
																						onblur="this.placeholder = 'Organization'"
																						class="single-input" id="organization"
																						name="organization"
																						th:field="${profile.organization}">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Designation</label> <input
																						type="text" placeholder="Designation"
																						onfocus="this.placeholder = 'Designation'"
																						onblur="this.placeholder = 'Designation'"
																						class="single-input" id="designation"
																						 name="designation" th:field="${profile.designation}">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Start Date</label> 
																					 <input 
																						data-date-format="dd/MM/yyyy" 
																						 placeholder="Start Date"
																						onfocus="this.placeholder = 'Start Date'"
																						onblur="this.placeholder = 'Start Date'"
																						class="single-input" id="workStartDate" 
																						name="workStartDate" th:field="${profile.workStartDate}"
																						 autocomplete="off">
																					
																						
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">End Date</label> 
																					 <input 
																						data-date-format="dd/MM/yyyy" 
																						 placeholder="End Date"
																						onfocus="this.placeholder = 'End Date'"
																						onblur="this.placeholder = 'End Date'"
																						class="single-input" id="workEndDate" 
																						name="workEndDate" th:field="${profile.workEndDate}"
																						 autocomplete="off">
																					
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														
													</div>
													<!--  Accordian 5 -->
													<div class="card">
														<div id="headingFive"
															class="card-header bg-white shadow-sm border-0">
															<div class="edit-form">
																<li><h6 class="mb-0 font-weight-bold">
																		<a href="#" data-toggle="collapse"
																			data-target="#collapseFive" aria-expanded="false"
																			aria-controls="collapseFive"
																			class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">
																			Other Details</a>
																	</h6></li>
																<li class="pull-right"><a href="#"
																	data-toggle="collapse" data-target="#collapseFive"
																	aria-expanded="false" aria-controls="collapseFive"
																	class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"><i
																		class="fa fa-caret-down"></i> </a></li>
															</div>
														</div>
														<div id="collapseFive" aria-labelledby="headingFive"
															data-parent="#accordionExample" class="collapse">
															<div class="card-body">
																<div class="col-lg-12">
																	<form class="form-contact contact_form"
																		action="contact_process.php" method="post"
																		id="contactForm" novalidate="novalidate">
																		<div class="row">
																		<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Assigned to emp</label> <input
																						type="text" placeholder="Employee Assigned"
																						onfocus="this.placeholder = 'Employee Assigned'"
																						onblur="this.placeholder = 'Employee Assigned'"
																						class="single-input" id="assignedToEmployeeName"
																						name="assignedToEmployeeName"
																						th:field="${profile.assignedToEmployeeName}">
																				</div>
																			</div>
																			<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Assigned Date</label> <input 
																						data-date-format="dd/MM/yyyy" 
																						 placeholder="Assigned Date"
																						onfocus="this.placeholder = 'Assigned Date'"
																						onblur="this.placeholder = 'Assigned Date'"
																						class="single-input" id="assignedDate" 
																						name="assignedDate" th:field="${profile.assignedDate}"
																						 autocomplete="off">
																					<!-- <input type="text" name="mobile_number" placeholder="Mobile number"
                                                                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mobile number'"
                                                                                required class="single-input"> -->
																				</div>
																			</div>
																		<div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Last Updated By</label> 
																					 <input
																						type="text" placeholder="Last updated by"
																						onfocus="this.placeholder = 'Last updated by'"
																						onblur="this.placeholder = 'Last updated by'"
																						class="single-input" id="lastupdatedBy"
																						name="lastupdatedBy"
																						th:field="${profile.lastUpdatedByUser}" readonly="readonly">
																					
																						
																				</div>
																			</div>
																			<!-- <div class="col-sm-6">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Last Updated Date</label> 
																					 <input 
																						data-date-format="dd/mm/yyyy" 
																						 placeholder="Lastupdated Date"
																						onfocus="this.placeholder = 'Lastupdated Date'"
																						onblur="this.placeholder = 'Lastupdated Date'"
																						class="single-input" id="LastupdatedDt" 
																						name="LastupdatedDt" th:field="${profile.lastUpdatedByDateTime}" readonly="readonly">
																					
																				</div>
																			</div> -->
																			
																			<div class="col-12">
																				<div class="form-group">
																					<label for="name" style="font-weight:bold">Additional Notes</label>
																					<textarea class="form-control w-100" cols="30"
																						rows="3"
																						onfocus="this.placeholder = 'Additional Notes'"
																						onblur="this.placeholder = 'Additional Notes'"
																						placeholder="Additional Notes"
																						id="additionalNotes" name="additionalNotes"
																						th:field="${profile.additionalNotes}"></textarea>
																				</div>
																			</div>
																			
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
													
													
												</div>
											</div>
										</div>
									</div>
								</div>
								<div th:switch="${profile}">
									<h2 th:case="null"></h2>
									<div th:case="*">
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group mt-3 pull-right">
													<input type="submit" value="Save" onclick="createProfile()"
														class="button button-contactForm boxed-btn" />

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
			<div id="search" class="tab-pane fade">
				<br>
				<h3>Search</h3>
				<div class="col-lg-12">
					<form class="form-contact contact_form"
						action="contact_process.php" method="post" id="searchProfForm"
						novalidate="novalidate">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<label for="name" style="font-weight:bold">Name</label> <input type="text" name="name"
										placeholder="Name" onfocus="this.placeholder = 'Name'"
										onblur="this.placeholder = 'Name'" 
										class="single-input" id="candidateName_s">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="name" style="font-weight:bold">Email</label> <input type="email"
										name="EMAIL" placeholder="Email address"
										onfocus="this.placeholder = 'Email address'"
										onblur="this.placeholder = 'Email address'" id="primaryEmail_s"
										class="single-input">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="name" style="font-weight:bold">Contact number</label> <input type="text"
										name="contact" placeholder="Contact number"
										onfocus="this.placeholder = 'Contact number'"
										onblur="this.placeholder = 'Contact number'" id="primaryContactNo_s"
										class="single-input">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="name" style="font-weight:bold">Skills</label> <input type="text"
										name="Skills" placeholder="Skills"
										onfocus="this.placeholder = 'Skills'"
										onblur="this.placeholder = 'Skills'" id="skill_s"
										class="single-input">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="name" style="font-weight:bold">Location</label> <input type="text"
										name="Location" placeholder="Location"
										onfocus="this.placeholder = 'Location'"
										onblur="this.placeholder = 'Location'" id="currentLocation_s"
										class="single-input">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="name" style="font-weight:bold">Visa Category</label>
									<div class="input-group-icon">
										
										<div class="form-select" >
											<select id="visatype_s" class="dropdown">
												<option value="none" selected="selected">Select Visa</option>
												<option value="PR">PR</option>
												<option value="Citizen">Citizen</option>
												<option value="Dependent Visa">Dependent Visa</option>
												<option value="Temporary graduate visa">Temporary graduate visa</option>
												<option value="Work Visa">Work Visa</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="name" style="font-weight:bold">Experience</label> <input type="text"
										name="Experience" placeholder="Experience"
										onfocus="this.placeholder = 'Experience'"
										onblur="this.placeholder = 'Experience'" id="workexperience_s"
										class="single-input">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="name" style="font-weight:bold">Certification</label> <input type="text"
										name="Certification" placeholder="Certification"
										onfocus="this.placeholder = 'Certification'"
										onblur="this.placeholder = 'Certification'" id="certification_s"
										class="single-input">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="name" style="font-weight:bold">Availability</label> <input type="text"
										name="Availability" placeholder="Availability"
										onfocus="this.placeholder = 'Availability'"
										onblur="this.placeholder = 'Availability'" id="availability_s"
										class="single-input">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group text-center">
									<button type="submit"
										class="button button-contactForm boxed-btn" onclick="clickonsearch()">Search</button>
										<button type="submit"
										class="button button-contactForm boxed-btn" onclick="resetSearchForm()">Reset</button>
								</div>
							</div>
							</div>
							<div class="col-sm-12" id="searchresults_div" >
							<div id="feedback"></div>
							
			<div class="container-fluid" style="border: 1px solid rgba(0, 0, 0, .125); border-radius: .25rem" >
		 	<table id="paginatedTable" class="display"  >
			
			
<tfoot  style="display: none" hidden="true" id="table_foot">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact No</th>
               <th>Skill</th>          
                <th>Location</th>
                 <th>Visa Category</th>
                <th>Visa Type</th>
                <th>Availability</th>
                <th>Education</th>
                <th>Work Experience</th>
                <th>Certification</th>
                <th>Assigned To</th>
                <th>Assigned Date</th>
                <th>Employed By Ren</th>
                 <th>Awards</th>
                  <th>Additional Notes</th>
            </tr>
        </tfoot>

			</table>
								
							</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- ================ contact section start ================= -->

	<!-- ================ contact section end ================= -->

	<!-- footer start -->
	<footer class="footer"> </footer>
	<!--/ footer end  -->

	<!-- JS here -->
 <script src="./js/vendor/jquery-1.12.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.20/api/fnFilterClear.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/searchpanes/1.0.1/js/dataTables.searchPanes.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js" type="text/javascript"></script>


<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>


<script src="./js/fixedHeadermin.js" ></script>
	 <script src="./js/vendor/modernizr-3.5.0.min.js"></script>
       
        
        <script src="./js/popper.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/owl.carousel.min.js"></script>
        <script src="./js/isotope.pkgd.min.js"></script>
        <script src="./js/ajax-form.js"></script>
        <script src="./js/waypoints.min.js"></script>
        <script src="./js/jquery.counterup.min.js"></script>
        <script src="./js/imagesloaded.pkgd.min.js"></script>
        <script src="./js/scrollIt.js"></script>
        <script src="./js/jquery.scrollUp.min.js"></script>
        <script src="./js/wow.min.js"></script>
        <script src="./js/nice-select.min.js"></script>
        <script src="./js/jquery.slicknav.min.js"></script>
        <script src="./js/jquery.magnific-popup.min.js"></script>
        <script src="./js/plugins.js"></script>
        <script src="./js/gijgo.min.js"></script>
   
        <!--contact js-->
        <script src="./js/contact.js"></script>
        <script src="./js/jquery.ajaxchimp.min.js"></script>
        <script src="./js/jquery.form.js"></script>
        <script src="./js/jquery.validate.min.js"></script>
        <script src="./js/mail-script.js"></script>
    
        <script src="./js/main.js"></script>
	
	
	<script>
	
	$(document).ready(function(){ 
		$('#dateOfBirth').datepicker({
			format: 'dd/mm/yyyy',
			iconsLibrary : 'fontawesome',
			icons : {
				rightIcon : '<span class="fa fa-caret-down"></span>'
			}
		});
		$('#assignedDate').datepicker({
			format: 'dd/mm/yyyy',
			iconsLibrary : 'fontawesome',
			icons : {
				rightIcon : '<span class="fa fa-caret-down"></span>'
			}

		});
		$('#validUpto').datepicker({
			format: 'dd/mm/yyyy',
			iconsLibrary : 'fontawesome',
			icons : {
				rightIcon : '<span class="fa fa-caret-down" id="validupto_spn"></span>'
			}
		});
		$('#workStartDate').datepicker({
			format: 'dd/mm/yyyy',
			iconsLibrary : 'fontawesome',
			icons : {
				rightIcon : '<span class="fa fa-caret-down"></span>'
			}
		});
		$('#workEndDate').datepicker({
			format: 'dd/mm/yyyy',
			iconsLibrary : 'fontawesome',
			icons : {
				rightIcon : '<span class="fa fa-caret-down"></span>'
			}
		});
	});
		
	
	</script>
	
	
	
	<script src="./js/idle_timeout.js"></script>
	<script src="./js/fileuploadmain.js"></script>
	<script src="./js/profilesearchmain.js"></script>
</body>

</html>