<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Profile Parser- Search Profiles</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/js/idle_timeout.js"></script>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link th:href="@{../css/starter-template.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{../css/datatables.min.css}" rel="stylesheet"
	media="screen" />
	<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet"
	media="screen" />
<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{../js/datatables.min.js}"></script>


<script src="https://cdn.datatables.net/plug-ins/1.10.20/api/fnFilterClear.js"></script>
<script src="/js/fixedHeadermin.js" ></script>
<script src="/js/profilesearchmain.js" ></script>

</head>
<body>

	<div class="container" style="min-height: 500px">

		<div class="starter-template">
			<h1>Profile Parser Login</h1>

			<form class="form-horizontal" id="search-form">
				<div class="form-group form-group-lg">
					<label style="font-weight:bold">Candidate Name</label>
					<div>
						<input type="text" class="form-control" id="candidateName" />
					</div>
					<labe style="font-weight:bold"l>Candidate Primary Email</label>
					<div>
						<input type="text" class="form-control" id="primaryEmail" />
					</div>
					<label style="font-weight:bold">Candidate Primary Contact No</label>
					<div>
						<input type="text" class="form-control" id="primaryContactNo" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<label style="font-weight:bold">Skill</label>
					<div>
						<input type="text" class="form-control" id="skill" />
					</div>
					<label style="font-weight:bold">Candidate Availability</label>
					<div>
						<input type="text" class="form-control" id="availability" />
					</div>
					<label style="font-weight:bold">Current Location</label>
					<div>
						<input type="text" class="form-control" id="currentLocation" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-6">
						<button type="submit" id="bth-search"
							class="btn btn-primary btn-lg" onclick="clickonsearch()">Search
						</button>
					</div>
				</div>
			</form>

			<div id="feedback"></div>
			
			<table id="paginatedTable" class="display">


			</table>
		</div>

	</div>



</body>
</html>